.sub-menu{
    background:#fff !important; 
    color: hsl(353deg 100% 78%) !important;
}
.add-btn{
    max-width: 150px;
    margin-bottom: 10px;
}
.product-image-size{
    width: 100px !important;
    height: 100px !important;
}
.attributes-input{
    width: 120px;
}